= turbo_frame_tag 'frame_1', data: { turbo_action: :replace } do
  .font-bold.text-2xl= 'Friends'
  .mt-12.italic= 'Here we will create many different posts to play with turbo_stream and other concepts'
