.w-full.flex.flex-col.shadow-xl.rounded-xl.bg-gray-200.p-4.my-2
  .w-full.flex.items-center.justify-between
    .font-bold.text-lg= post.title
    .font-bold.text-base.italic= "by: #{post.author}"
  .w-full.text-base= post.title
