= turbo_frame_tag 'new_post', data: { turbo_action: :replace } do
  .w-full
    = link_to 'Back', posts_path, class: 'text-gray-500 hover:underline', data: { turbo_frame: "new_post" }
  = render 'form'
