.bg-blue-500.text-white.flex.justify-center.items-center.w-full{ class: 'h-1/12' }
  = link_to 'Homepage', root_path, class: 'hover:underline m-5', data: { 'turbo-frame': 'frame_1'}
  = link_to 'Posts', posts_path, class: 'hover:underline m-5', data: { 'turbo-frame': 'frame_1'}
  = link_to 'Friends', friends_path, class: 'hover:underline m-5', data: { 'turbo-frame': 'frame_1'}
